<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color</string>
			<key>footerText</key>
			<string>Pick the color of the square</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>WidgetColor</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Square</string>
</dict>
</plist>
