<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>HSName</key>
	<string>HSSpacer</string>
	<key>HSDescription</key>
	<string>An empty spacer</string>
	<key>HSPrincipalClass</key>
	<string>HSSpacerWidgetViewController</string>
</dict>
</plist>
