.widgetFrameGraph {
	display: grid;
	grid-template-columns: 80px 80px 80px 80px;
	grid-template-rows: 80px 80px 80px 80px;
	grid-gap: 8px;

	justify-content: center;
}

.widgetFrameGraph div {
	background-color: #272822; /* gray */
	opacity: 0.33;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-moz-text-align: center;
}

div.widgetframe {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-row-end: 5;
	grid-column-end: 3;
	opacity: unset;
}

.convertChevron {
	width: 100%;
	font-size: 40px;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.widgetPositions {
	display: grid;
	grid-template-columns: repeat(auto-fit, 80px);
	grid-gap: 8px;

	justify-content: center;
}

.widgetPositions div {
	background-color: #272822; /* gray */

	width: 80px;
	height: 80px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-moz-text-align: center;
}