<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>HSName</key>
	<string>HSClockWidget</string>
	<key>HSDescription</key>
	<string>Time and Date</string>
	<key>HSPrincipalClass</key>
	<string>HSClockWidgetViewController</string>
</dict>
</plist>
