.directionGraph {
	display: grid;
	grid-template-columns: 80px 80px 80px;
	grid-template-rows: 80px 80px 80px;
	grid-gap: 8px;
	
	justify-content: center;
}

.directionGraph div {
	background-color: #272822; /* gray */
	opacity: 0.33;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-moz-text-align: center;
}

div.up,
div.left,
div.none,
div.right,
div.down {
	opacity: unset;
}